.grandesection{
    background-color:white;
    margin-left: 80px;
    margin-right: 50px;
    height: 2683.05px;
    width: 1100px;
    padding: 40px 40px 40px 20px;
    border-right: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    min-height: 1000px;
    max-width: 1088px;
}

.banniere{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-size: 17.5px;
    text-align: center;
    margin-top: -50px;
    margin-left: -214px;
    position: relative;
    height: 22px;
    width: 1549px;
    padding: 14px 0 14px 0;
    display: block;
    justify-content: center;
}
.container{
    background-color:rgb(228, 134, 50);
    width: 1549px;
    height: 56px;
    margin: 0 -215px 0 0;
    margin-left: -214px;
    position: relative;
    display: flex;
    min-width: 56px;
    text-align: center;
}

.logo{
    width: 330px;
    height: 340px;
    position: relative;
    margin-left: 10px;
    margin-top: -60px;
}

.container .button0{
    cursor: pointer;
    font-family: Segoe UI;
    background-color: rgb(228, 134, 50);
    color: white;
    height: 20px;
    width: 151.953px;
    margin-left: 550px;
}


.terminal{
    border: 1px solid black;
    width: 500px;
}

.command-prompt{
    display: flex;
    margin: 0 0 10px;
    border-radius: 4px;
    color: #ddd;
    padding: 5px;
    margin-top: 30px;
    border: 1px solid hsla(0,0%,43%,.3);
    font-family: Menlo,Menlo-Regular,Inconsolata,Monaco, monospace;
    font-size: 13px;
    margin-top: 0px;
}

.flèche{
    height:30px;
    width: 30px;
    margin-top: 13px;
    margin-left: -150px;
    cursor: pointer;
}


.container li{
    list-style: none;
}

.modif{
    padding-left: 5px;
}

.button3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.button2{
    color: white;
    padding-left: 70px;
    margin-left: -80px;
    height: 30px;
    margin-top: 2px;
    cursor: pointer;
}

.modif1{
    padding-left: 70px;
    color: white;
    margin-left: -50px;
    height: 30px;
    margin-top: 10px;
    cursor: pointer;
}

.container1 .blog{
    color: white;
}
.container1 .migrer{
    color: white;
}
.container1 .contribution{
    color: white;
}
.container1 .equipe{
    color: white;
}
.container1{
    height: 56px;
    width: 1234px;
    margin: 0 -184px 0 0;
    background-color: #453015;
    margin-left: -115px;
    font-family: Segoe UI;
    padding-right: 115px;
    display: flex;
    align-items: center;
}

.logo_footer{
    width: 100px;
    padding-right: 600px;
}
.github{
    width: 0px;

}

.button1{
    padding-left: 70px;
    color: white;
    margin-left: -100px;
    height: 30px;
    margin-top: 2px;
    cursor: pointer;
}

.roue1{
    padding-left: 80px;
    margin-top: 12px;
    cursor: pointer;
}

img.roue1{
    margin-left: 30px;
    height: 30px;
    cursor: pointer;
}


h1{
    font-family: Lato, sans-serif;
    font-size: 90px;
    font-weight: 900;
    letter-spacing: 5.376px;
    line-height: 25.6px;
    text-decoration: none solid rgb(69, 48, 21);
    text-transform: uppercase;
    padding-left: 300px;
    margin-top: -520px;
    margin-left: 10px;
    color: #453015
}

h2{
    font-family: Lato, sans-serif;
    font-size: 51.52px;
    color: #453015;
    font-weight: 700;
    letter-spacing: -1.5px;
    line-height: 0px;
    height: 25.5938px;
    width: 790px;
    margin: 30px 0 10px 0;
    padding-left: 320px; 
}

.bloc1 .gauche{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica';
    padding-left: 80px;
    height: 40px;
    width: 335.508px;
    margin: 0 0 12px 0;
    padding-left: 320px;
    color: #6F5A40;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    margin-top: 150px;
}

.bloc1 p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 25.6px;
    height: 204.688px;
    width: 335.516px;
    padding-left: 320px;
    position: relative;
    margin-top: 40px;
    margin: 48px 0 48px 0;
}

.bloc2 .droite{
    font-family: Lato, sans-serif;
    font-size: 30px;
    width: 699px;
    padding-left: 735px;
    font-weight: 700;
    line-height: 40px;
    height: 40px;
    color: #6F5A40;
    margin: 0 0 12px 0;
    margin-top: -340px;
}


.bloc2 p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 25.6px;
    height: 204.8px;
    width: 335.513px;
    padding-left: 734px;
    margin-left: -80px;
    margin: 48px 0 48px 0;
}


.dessous{
    height: 40px;
    width: 335px;
    margin: 0 0 12px 0;
    padding-left: 320px;
    color: #6F5A40;
    cursor: pointer;
}


.logos .coffeeimage{
    height: 109.83px;
    width: 174.744px;
    max-width: 100%;
    display: inline;
    cursor: pointer;
}
.logos .handlebars{
    height: 109.83px;
    width: 174.744px;
    max-width: 100%;
    display: inline;
    cursor: pointer;
}
.logos .jade{
    height: 109.83px;
    width: 174.744px;
    max-width: 100%;
    display: inline;
    cursor: pointer;
}
.logos .js{
    height: 109.83px;
    width: 174.744px;
    max-width: 100%;
    display: inline;
    cursor: pointer;
}
.logos .require{
    height: 109.828px;
    width: 174.75px;
    max-width: 100%;
    display: inline;
    cursor: pointer;
}


.logos {
    
}